n8n/workflows/adapters/llm-proxy-adapter.json
{
  "name": "LLM Proxy Adapter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "llm-proxy-adapter",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Webhook Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "llm-proxy-adapter"
    },
    {
      "parameters": {
        "functionCode": "// Extract input data\nconst input = $json.text || $json.input || $json.prompt;\nconst model = $json.model || 'openai-gpt35-turbo';\nconst maxTokens = $json.maxTokens || 150;\nconst temperature = $json.temperature || 0.7;\nconst metadata = $json._metadata || {};\n\nconsole.log('📡 LLM Proxy Adapter - Processing request');\nconsole.log('Model:', model);\nconsole.log('Input length:', input?.length || 0);\n\nreturn {\n  input,\n  model,\n  maxTokens,\n  temperature,\n  metadata\n};"
      },
      "id": "prepare-request",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{$env.LLM_PROXY_URL}}/invoke/model/{{$json.model}}",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"prompt\": $json.input, \"parameters\": { \"max_tokens\": $json.maxTokens, \"temperature\": $json.temperature } } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-llm-proxy",
      "name": "Call LLM Proxy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract and normalize response from llm-proxy\nconst response = $json;\nconst content = response.output || response.result || response.generated_text || '';\n\nif (!content || content.length === 0) {\n  throw new Error('Empty response from llm-proxy');\n}\n\n// Calculate hash\nconst crypto = require('crypto');\nconst hash = crypto.createHash('sha256').update(content).digest('hex');\n\n// Extract usage data\nconst usage = response.usage || response.metadata?.usage || {};\nconst inputTokens = usage.prompt_tokens || Math.ceil($node['Prepare Request'].json.input.length / 4);\nconst outputTokens = usage.completion_tokens || Math.ceil(content.length / 4);\nconst totalTokens = usage.total_tokens || inputTokens + outputTokens;\n\n// Calculate quality score (simple heuristic)\nconst qualityScore = Math.min(100, Math.max(0, \n  (content.length > 10 ? 50 : 0) + \n  (content.match(/[.!?]/g)?.length * 5 || 0)\n));\n\nconsole.log('✅ LLM Proxy Response:', content.substring(0, 50) + '...');\nconsole.log('Tokens:', totalTokens, 'Quality:', qualityScore);\n\nreturn {\n  content,\n  hash,\n  model: $node['Prepare Request'].json.model,\n  provider: 'llmproxy',\n  tokens: {\n    input: inputTokens,\n    output: outputTokens,\n    total: totalTokens\n  },\n  cost: response.cost || response.metadata?.cost || 0,\n  qualityScore,\n  timestamp: Date.now(),\n  metadata: $node['Prepare Request'].json.metadata\n};"
      },
      "id": "normalize-response",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={{ { \"error\": \"LLM Proxy call failed\", \"message\": $json.error?.message || \"Unknown error\", \"provider\": \"llmproxy\" } }}"
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 450]
    }
  ],
  "connections": {
    "Webhook Start": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Call LLM Proxy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM Proxy": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-16T14:25:00.000Z",
  "versionId": "1"
}
