internal/legacy/n8n/workflows/nango-twitter-bot.json
{
  "name": "Nango Twitter Trading Bot",
  "nodes": [
    {
      "parameters": {
        "path": "trading-signal",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "trading-signal-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "privyUserId",
              "value": "={{ $json.body.privyUserId }}"
            },
            {
              "name": "signal",
              "value": "={{ $json.body.signal }}"
            },
            {
              "name": "price",
              "value": "={{ $json.body.price }}"
            },
            {
              "name": "symbol",
              "value": "={{ $json.body.symbol }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3001/api/oauth/{{ $json.privyUserId }}/twitter/token",
        "authentication": "none",
        "requestMethod": "GET",
        "options": {}
      },
      "name": "Get Twitter Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "const signal = $input.item.json.signal;\nconst price = $input.item.json.price;\nconst symbol = $input.item.json.symbol;\nconst token = $node['Get Twitter Token'].json.token;\n\n// Build tweet text\nlet emoji = '🚀';\nif (signal === 'SELL') emoji = '📉';\nif (signal === 'HOLD') emoji = '⏸️';\n\nconst tweetText = `${emoji} ${signal} Signal Alert!\\n\\nSymbol: $${symbol}\\nPrice: $${price}\\n\\n#Crypto #Trading #DeFi #${symbol}`;\n\nreturn {\n  text: tweetText,\n  token: token,\n  signal: signal,\n  privyUserId: $input.item.json.privyUserId\n};"
      },
      "name": "Compose Tweet",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Post Tweet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Get Twitter Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Twitter Token": {
      "main": [
        [
          {
            "node": "Compose Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Tweet": {
      "main": [
        [
          {
            "node": "Post Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Tweet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "nango-twitter-bot"
}
