n8n/workflows/gateway.json
{
  "name": "Lucid Gateway",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lucid-gateway",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-entry",
      "name": "Webhook Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "lucid-gateway"
    },
    {
      "parameters": {
        "functionCode": "// Verify HMAC signature\nconst secret = $env.N8N_HMAC_SECRET;\nconst receivedSignature = $node['Webhook Entry'].json.headers['x-signature'];\nconst tenantId = $node['Webhook Entry'].json.headers['x-tenant-id'] || 'default';\n\nif (!receivedSignature) {\n  throw new Error('Missing X-Signature header');\n}\n\n// Get request body\nconst body = $node['Webhook Entry'].json.body;\nconst bodyStr = JSON.stringify(body);\n\n// Compute HMAC\nconst crypto = require('crypto');\nconst computedSignature = crypto\n  .createHmac('sha256', secret)\n  .update(bodyStr)\n  .digest('hex');\n\n// Verify signature\nif (computedSignature !== receivedSignature) {\n  throw new Error('Invalid HMAC signature');\n}\n\nconsole.log('✅ HMAC verified for tenant:', tenantId);\n\n// Add metadata\nreturn {\n  ...body,\n  _metadata: {\n    tenantId,\n    requestId: crypto.randomUUID(),\n    timestamp: Date.now(),\n    verified: true\n  }\n};"
      },
      "id": "verify-hmac",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.workflowType}}",
              "operation": "equals",
              "value2": "llm-inference"
            }
          ]
        }
      },
      "id": "route-by-type",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5678/webhook/llm-proxy-adapter",
        "options": {
          "timeout": 30000
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=",
              "value": "={{$json}}"
            }
          ]
        }
      },
      "id": "call-llm-adapter",
      "name": "Call LLM Adapter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={{ { \"error\": \"Workflow execution failed\", \"message\": $json.error || \"Unknown error\" } }}"
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook Entry": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Call LLM Adapter",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call LLM Adapter": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-16T14:25:00.000Z",
  "versionId": "1"
}
