internal/legacy/n8n/workflows/adapters/hyperliquid-adapter.json
{
  "name": "Hyperliquid Trading Adapter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hyperliquid-adapter",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Webhook Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "hyperliquid-adapter"
    },
    {
      "parameters": {
        "functionCode": "// Extract operation and parameters from incoming request\nconst operation = $json.operation;\nconst params = $json.parameters || {};\nconst userId = $json.userId;\nconst n8nWorkflowId = $workflow.id;\nconst n8nExecutionId = $execution.id;\n\nconsole.log('🔷 Hyperliquid Adapter - Operation:', operation);\nconsole.log('Parameters:', params);\nconsole.log('User ID:', userId);\n\nif (!operation) {\n  throw new Error('Missing operation parameter');\n}\n\nif (!userId) {\n  throw new Error('Missing userId parameter');\n}\n\n// Map operation to backend endpoint\nconst operationEndpoints = {\n  'placeOrder': 'place-order',\n  'cancelOrder': 'cancel-order',\n  'cancelAllOrders': 'cancel-all-orders',\n  'modifyOrder': 'modify-order',\n  'closePosition': 'close-position',\n  'updateLeverage': 'update-leverage'\n};\n\nconst endpoint = operationEndpoints[operation];\n\nif (!endpoint) {\n  throw new Error(`Unknown operation: ${operation}`);\n}\n\nreturn {\n  operation,\n  endpoint,\n  userId,\n  params: {\n    ...params,\n    userId,\n    n8nWorkflowId,\n    n8nExecutionId\n  },\n  timestamp: Date.now()\n};"
      },
      "id": "prepare-request",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{$env.LUCID_API_URL}}/api/hyperliquid/{{$json.endpoint}}",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.params }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "call-backend-api",
      "name": "Call Backend API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Normalize response from backend\nconst response = $json;\n\nif (!response.success) {\n  throw new Error(response.error || 'Operation failed');\n}\n\nconst result = response.data;\n\nconsole.log('✅ Hyperliquid operation successful');\nconsole.log('Result:', result);\n\nreturn {\n  success: true,\n  operation: $node['Prepare Request'].json.operation,\n  userId: $node['Prepare Request'].json.userId,\n  result: result,\n  timestamp: response.timestamp || Date.now(),\n  executionId: $execution.id\n};"
      },
      "id": "normalize-response",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={{ { \"success\": false, \"error\": $json.error?.message || \"Unknown error\", \"operation\": $node['Prepare Request']?.json?.operation || 'unknown' } }}"
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 450]
    }
  ],
  "connections": {
    "Webhook Start": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Call Backend API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Backend API": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-17T10:07:00.000Z",
  "versionId": "1"
}
