internal/legacy/n8n/workflows/adapters/solana-write-adapter.json
{
  "name": "Solana Write Adapter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solana-write-adapter",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Webhook Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "solana-write-adapter"
    },
    {
      "parameters": {
        "functionCode": "// Extract Solana transaction data\nconst hash = $json.hash;\nconst content = $json.content;\nconst model = $json.model || 'unknown';\nconst qualityScore = $json.qualityScore || 0;\nconst metadata = $json.metadata || {};\n\nconsole.log('⛓️ Solana Write Adapter - Preparing transaction');\nconsole.log('Hash:', hash);\nconsole.log('Quality Score:', qualityScore);\n\nif (!hash) {\n  throw new Error('Missing hash for Solana write');\n}\n\nreturn {\n  hash,\n  content: content?.substring(0, 100), // Truncate for on-chain\n  model,\n  qualityScore,\n  metadata,\n  timestamp: Date.now()\n};"
      },
      "id": "prepare-tx",
      "name": "Prepare Transaction",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{$env.LUCID_API_URL}}/solana/write",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"hash\": $json.hash, \"content\": $json.content, \"model\": $json.model, \"qualityScore\": $json.qualityScore, \"timestamp\": $json.timestamp } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "write-to-solana",
      "name": "Write to Solana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Normalize Solana transaction response\nconst response = $json;\nconst txSignature = response.txSignature || response.signature || response.tx;\nconst slot = response.slot || 0;\nconst root = response.root || '';\n\nif (!txSignature) {\n  throw new Error('No transaction signature returned from Solana');\n}\n\nconsole.log('✅ Solana Transaction:', txSignature);\nconsole.log('Slot:', slot);\n\nreturn {\n  success: true,\n  txSignature,\n  slot,\n  root,\n  explorer: `https://explorer.solana.com/tx/${txSignature}?cluster=devnet`,\n  timestamp: Date.now(),\n  metadata: $node['Prepare Transaction'].json.metadata\n};"
      },
      "id": "normalize-response",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={{ { \"error\": \"Solana write failed\", \"message\": $json.error?.message || \"Unknown error\" } }}"
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 450]
    }
  ],
  "connections": {
    "Webhook Start": {
      "main": [
        [
          {
            "node": "Prepare Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Transaction": {
      "main": [
        [
          {
            "node": "Write to Solana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Solana": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-16T14:26:00.000Z",
  "versionId": "1"
}
